# Dependency Directory
node_modules/

# Bundles built by Webpack need not be committed
public/bundle.js*

# Certificate files for HTTPS
*.pem
ssl/

# In Case iOS makes these extra files, ignore them
.DS_Store

yarn-error.log
.vercel
