/* The common styles between each side of the text on landing page */
.block-one-landing-content {
  height: 100vh;
  text-align: center;
  font-size: 1.8em;
  letter-spacing: 5px;
}

/* Left text color to match blue on logo */
.block-one-landing-title-left {
  color: rgb(37,56,134)
}

/* Right text color to match grey on logo */
.block-one-landing-title-right {
  color: rgb(75,75,75);
}

/* Large button used to grab the latest block from the testnet */
.retreive-block-button {
  padding: 3vh 3vw;
  max-width: 33vw;
  font-size: .9em;
}

/* This button alerts a JSON string containing all of the most recent blocks information */
.detailed-info-button {
  padding: 1vh 2vw;
  max-width: 20vw;
}

/* This is a modifier which positions an element in the top right third of the parent*/
.right-third-absolute {
  position: absolute;
  top: 0;
  left: 66vw;
  transform: translateX(-25%);
}
