.section-container {
  position: relative;
  background: black;
  height: 150vh;
  margin-top: -29vh;
  clip-path: polygon(
    0 30vh,
    100vw 0,
    100vw 120vh,
    0 150vh
  );
}

.section-background {
  width: 100%;
  height: 150vh;
  content: "";
  opacity: .25;
  z-index: -1;
  transform: translateZ(0);
  background-size: cover;
  background-position: center;
}

.section-content-container {
  position: absolute;
  width: 93vw;
  top: 55vh;
  margin: 0 3vw;
}