.track-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.track-input-wrapper input[type="file"] {
  display: none;
}

.track-wrapper {
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  border: 4px dotted rgb(25,25,25);
  border-radius: 15px;
  background: radial-gradient(rgba(0,0,0,.9), rgba(0,0,0,.75), rgba(0,0,0,.25));
  list-style: none;
}

