/********** Overall Styles **********/
html {
  font-size: 26px;
  line-height: 1.4;
}

body {
  position: relative;
  margin: 0;
  background: darkgrey;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
}

button {
  background: black;
  color: white;
  cursor: pointer;
  opacity: .9;
  font-size: .9em;
  padding: 5vh 0;
}

button:focus {
  outline:0;
  color: rgba(255,255,255,1);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col {
  flex-basis: 100%;
}

.center {
  text-align: center;
}

.even-space {
  justify-content: space-around;
}

.hidden {
  visibility: hidden;
}

@media screen and (min-width: 800px) {
  .col {
    flex: 1;
  }
}

/********** Parallax Styles **********/

/* container used in the ParallaxBackground component
it forms the shape which the image will fill*/
.parallax-container {
  position: relative;
  width: 100%;
  height: 135vh;
  overflow: hidden;
  clip-path: polygon(
    0 0,
    100vw 0,
    100vw 100vh,
    0 135vh
  );
}

/* image/background which will have parallax effect added to it
fills the parallax container background */
.parallax-image {
  width: 100vw;
  height: 135vh;
  background-size: cover;
  background-position: cover;
}

.parallax-children {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/********** Home Route Landing Styles **********/

.landing-title {
  margin: 0;
  padding-left: 3vw;
  opacity: .33;
  letter-spacing: 3px;
  font-size: 3em;
  font-weight: bolder;
}

.landing-content {
  margin: 0 auto;
  padding-left: 15vw;
  width: 60vw;
}

.landing-text {
  opacity: .75;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 9vh 0;
  margin: 0;
}

.twiddle {

}

/********** Header Styles **********/

.header-container {
  position: fixed;
  z-index: 1;
  padding-left: 4vw;
  width: 100vw;
  height: 35vh;
  top: 0;
  left: 0;
  clip-path: polygon(
    0 0,
    100vw 0,
    0 35vh
  );
  background: linear-gradient(175deg, rgba(0,0,0,1), rgba(10,10,10,.95), rgba(0,0,0,.1));
}

.header-title {
  position: absolute;
  top: 3vh;
  left: 6vw;
  width: 30vw;
  margin: 0;
  padding: 0;
  transform: skewY(4deg);
  transform-origin: left bottom 0;
  font-size: 1.6em;
  letter-spacing: 2px;
}

.header-nav {
  position: absolute;
  top: 22vh;
  width: 98vw;
  margin: 0;
  padding: 0;
  transform-origin: left top 0;
  transform: rotate(-6deg);
  list-style-type: none;
}

.header-item {
  display: inline;
  float: left;
  font-style: italic;
  transform: skewY(10deg);
}
.header-item--1 {
  opacity: .9;
  margin-right: 16vw;
  font-size: 1.3em;
}
.header-item--2 {
  opacity: .6;
  margin-right: 12vw;
  font-size: .9em;
}
.header-item--3 {
  opacity: .45;
  margin-right: 8vw;
  font-size: .6em;
}
.header-item--4 {
  opacity: .3;
  margin-right: 6vw;
  font-size: .4em;
}
.header-item--5 {
  opacity: .2;
  margin-right: 4vw;
  font-size: .2em;
}

/*** Add fade-in and fade-out styles for header transitions ***/


/********** Home Route Section Styles **********/

.section-container {
  position: relative;
  background: black;
  height: 150vh;
  margin-top: -34vh;
  clip-path: polygon(
    0 35vh,
    100vw 0,
    100vw 115vh,
    0 150vh
  );
}

.section-background {
  width: 100%;
  height: 150vh;
  content: "";
  opacity: .25;
  z-index: -1;
  background-size: cover;
  background-position: cover;
}

.section-content-container {
  position: absolute;
  top: 50vh;
  width: 92vw;
  margin:0 4vw;
}

/********** Section Content Styles **********/

.about-content-container {
  top: 55vh;
}

.about-type-text {
  opacity: .4;
  margin: 20px;
  letter-spacing: 2px;
}

.about-prev-button {
  padding: 5vh 10vw;
  border: none;
  background: radial-gradient(rgba(0,0,0,.9), rgba(0,0,0,0), rgba(0,0,0,0));
}

.about-next-button {
  padding: 5vh 10vw;
  border: none;
  background: radial-gradient(rgba(0,0,0,.9), rgba(0,0,0,0), rgba(0,0,0,0));
}

.about-video-container {
	position: relative;
	width: 60vw;
	height: 60vh;
  margin: 3vh auto;
}

.about-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-box {
  cursor: pointer;
  text-align: center;
  height: 50vh;
  margin: 0 2vw;
  border: 2px solid black;
  background-size: cover;
  background-position: cover;
}
.project-box--1 {
  margin-bottom: -15vh;
}
.project-box--2 {
  margin: 0 2vw;
}
.project-box--3 {
  margin-top: -15vh;
}


.wide-spacer {
  width: 92vw;
}

/********** Footer Styles **********/

.footer-container {
  display: flex;
  width: 100%;
  margin-top: -34vh;
  height: 35vh;
  clip-path: polygon(
    0 35vh,
    100vw 0,
    100vw 35vh,
    0 35vh
  );
  background: linear-gradient(175deg, rgba(0,0,0,.1), rgba(10,10,10,.95), rgba(0,0,0,1));
  justify-content: flex-end;
  flex-flow: flex-end;
}

.footer-content {
  align-self: center;
  text-align: right;
  padding: 0 4vw 4vh 0;
}

.footer-contact {
  transform: skewY(4deg);
  transform-origin: left bottom 0;
  font-size: 1.6em;
  letter-spacing: 2px;
  margin: 20px;
}

.footer-item {
  transform: skewY(4deg);
  transform-origin: left bottom 0;
  margin: 5px;
}
